{% extends 'helpdesk/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="page-header" xmlns="http://www.w3.org/1999/html">
    <h1>Add Group Membership</h1>
</div><!-- /.page-header -->

<div class="widget-box widget-color-blue">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">Add User to Group {{ request.session.name }} </h5>
    </div>
</div>

<div class="widget-body">
    <div class="widget-main">
       <div class="col-xs-12 ">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Userid</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Post Office</th>
                            <th>Domain</th>
                            <th></th>
                            <th></th>
                            <th></th>
                    </tr>
                </thead>
                 <tbody>
                    {% for user in users %}


                        <form name="userform" id="userform" class="userform" method="post" action="">
                            <span>{% csrf_token %}</span>
                            <input type="hidden" name="id" value="{{ user.id}}">
                            <input type="hidden" name="name" value="{{ user.name}}">
                            <input type="hidden" name="grpid" value="{{ request.session.id }}">
                            <input type="hidden" name="grpname" value="{{ request.session.name }}">
                            <input type="hidden" name="url" value="{{ request.session.url }}">
                            <tr>
                                <td>{{ user.givenName }}</td>
                                <td>{{ user.surname }}</td>
                                <td>{{ user.postOfficeName }}</td>
                                <td> {{ user.domainName }}</td>
                                         <td>
                                              <button class="btn btn-primary btn-fill btn-xs" type="submit" name="add">Add</button>

                                         </td>



                            </tr>
                        </form>
                    {% endfor %}
                 </tbody>
             </table>

              <div class="col-lg=8">
                   <div class="col-md-5">
                      <form name="next" method="post" action="{% url 'addgrpmember' %}">
                        {% csrf_token %}
                        <input name="nextid" type="hidden"
                            {% if nextid != 1 or nextid != 0 %}
                                value="{{nextid}}"
                            {% else %}
                               value="0"
                            {% endif %}
w                            {% if nextid != 1 or nextid != 0 %}
                                {% if firstset == False %}
                                    <a href="javascript:window.history.back();"  class="btn btn-primary btn-fill btn-sm" )">Back</a>
                                    <button class="btn btn-primary btn-fill btn-sm " type="submit" name="next">Next</button>
                                {% endif %}
                                {% if firstset == True %}
                                    <a href=""  class="btn btn-primary btn-fill btn-sm" )">Back</a>
                                    <button class="btn btn-primary btn-fill btn-sm" type="submit" name="next">Next</button>
                                {% endif %}
                            {% endif %}
                        </form>
                   </div>

                      <div class="col-md-5">
                          <form  method="post" action="{% url 'searchresults' %}">
                            {% csrf_token %}
                            <div class="input-group custom-search-form">
                                  <input type="text" class="form-control" placeholder="Search for GW User" name="userid">
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary btn-sm" type="submit">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;Search
                                    </button>
                                </span>
                            </div>
                          </form>

                          From search results, Edit user and add to Group from there
                      </div>
                </div>
      </div>




       </div>
    </div>
</div>

{% endblock %}