{% extends 'helpdesk/base.html' %}
{% block content %}
{% load staticfiles %}
<div class="page-header">
    <h1>Add Resource for {{ request.session.id}} </h1>
    </div><!-- /.page-header -->
        <div class="col-xs-8 ">
            <div class="widget-box widget-color-blue">
                <div class="widget-header">
                    <h5 class="widget-title bigger lighter">Add Resource</h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">

             </h5>
            <form name="addresourceform" method="post" action="" class="form-horizontal">
                 {% csrf_token %}
                <input name="ownerid" type="hidden" value="{{ request.session.id }}"/>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Resource Name</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="resourcename" placeholder="Resource Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Owner</label>
                     <div class="col-md-5">
                        <input class="form-control" type="text" name="ownername" value="{{request.session.name}}" readonly="readonly"/>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">Visibility</label>
                    <div class="col-md-5">
                        <select  class="form-control" name="visibility">
                            {% for key, value in form.visibility.field.choices %}
                            <option
                                value="{{ key }}">{{ value }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                 </div>

<!--

                 <div class="form-group">
                    <label class="col-md-3 control-label">Post Office</label>
                    <div class="col-md-5">
                        <input  class="form-control" name="po" readonly="readonly"/>

                    </div>
                 </div>
                <div class="form-group">
                        <label class="col-md-3 control-label">Domain</label>
                         <div class="col-md-5">
                            <input name="domain" class="form-control" readonly="readonly" />
                          </div>
                    </div>

            </div>

-->
        <div class="card-footer">
            <div class="form-group">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                    <button type="submit" class="btn btn-fill btn-primary">
                        Save
                    </button>
                </div>
            </div>
            {% if form.errors.password2 %}
                 <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div class="alert-link">{{ form.errors.password2  }}
                    </div>
                </div>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    {% if message.level == 40 %}
                        <div class="col-lg-8">
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
        </div>
        </div>
            </form>

            </div>

            </div><!-- end panel-body -->
        </div> <!-- end panel-default -->


{% endblock %}
