{% extends 'helpdesk/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- CSS code from Bootply.com editor -->

	<style type="text/css">
            .table-fixed thead {
		  width: 75%;
		}
		.table-fixed tbody {
		  height: 330px;
		  overflow-y: auto;
		  width: 75%;
		}
		.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
		  display: block;
		}
		.table-fixed tbody td, .table-fixed thead > tr> th {
		  float: left;
		  border-bottom-width: 0;
		}
	</style>

<div class="container">
  <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>
            Group list - Scroll down to see all groups.  Press select to add  {{ request.session.name }} to the desired group
          </h4>
        </div>
        <table class="table table-fixed">
          <thead>
            <tr>
    			<th class="col-xs-4">Name</th>
				<th class="col-xs-3">PostOffice</th>
				<th class="col-xs-3">Domain</th>
				<th class="col-xs-2"></th>
            </tr
          </thead>
          <tbody>
			{% for grp in groups %}
				<form name="grp" action="" method="post">
					{% csrf_token %}
                    <tr>

                        <td class="col-xs-4">
                            {% if grp.ldapDn %}
                                       <img src="{% static 'img/associatedgrp.png' %}" style="float:left;width:15px;height:15px;"/>
                                    {% else %}
                                        <img src="{% static 'img/grp.png' %}" style="float:left;width:15px;height:15px;"/>



                            {% endif %}
                            &nbsp{{ grp.name }}
                        </td>
                        <td class="col-xs-3">{{ grp.postOfficeName}}</td>
                        <td class="col-xs-3">{{ grp.domainName}}</td>

                        {% if grp.ldapDn %}
                        <td class="col-xs-2">

                        </td>
                        {% else %}

                            <td class="col-xs-2"><button class="btn btn-primary btn-fill btn-sm " type="submit" name="add">Select</button></td>
                        {% endif %}
                    </tr>
                    <input type="hidden" name="url" value="{{ grp.url }}"/>
				</form>
		  	{% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>

        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        <script type='text/javascript'>
            $(document).ready(function() {
            });
        </script>
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-40413119-1', 'bootply.com');
              ga('send', 'pageview');
        </script>

       {% endblock %}
