{% extends 'helpdesk/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="page-header">
    <h1>GroupWise Groups</h1>
</div><!-- /.page-header -->

<div class="widget-box widget-color-blue">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">GroupWise Groups - Total Group Count {{ count }} </h5>
    </div>
</div>

<div class="widget-body">
    <div class="widget-main">
       <div class="col-xs-12 ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Post Office</th>
                        <th>Domain</th>
                        <th>Visibility</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                 <tbody>

                    {% for group in groups%}
                        <form name="grpform" id="grpform" method="post" action="{% url 'groupdetails' %}">
                            <span>{% csrf_token %}</span>
                            <input type="hidden" name="id" value="{{ group.id}}">
                                <input type="hidden" name="name" value="{{ group.name}}">
                                <input type="hidden"  name="postOfficeName" value="{{ group.postOfficeName}}">
                                <input  type="hidden" name="domainName" value="{{ group.domainName}}">
                                <input  type="hidden" name="visibility" value="{{ group.visibility}}">
                            <input  type="hidden" name="url" value="{{ group.url }}">

                            <tr>
                                <td>
                                    {% if group.ldapDn %}
                                       <img src="{% static 'img/associatedgrp.png' %}" style="float:left;width:15px;height:15px;"/>
                                    {% else %}
                                        <img src="{% static 'img/grp.png' %}" style="float:left;width:15px;height:15px;"/>
                                    {% endif %}
                                </td>
                                <td>{{ group.name}}</td>
                                <td>{{ group.postOfficeName}}</td>
                                <td>{{ group.domainName}}</td>
                                <td>{{ group.visibility}}</td>

                                {% if request.session.role == "AD" or request.session.role != "HL" %}
                                        <td>
                                            <button class="btn btn-primary btn-fill btn-xs" type="submit" name="editgroup">Edit</button>
                                         </td>
                                        <td>
                                            <button class="btn btn-primary btn-fill btn-xs" type="submit" name="deletegroup">Delete</button>
                                         </td>
                                        <td>
                                {% endif %}
                            </tr>
                        </form>
                    {% endfor %}
                 </tbody>
            </table>
       </div>
    </div>
</div>

{% endblock %}